.button {
  transition: none;
  font-size: small;
  background-color: transparent;
}
.buttons {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button:hover {
  border: none;
}
.button:focus {
  border: none;
}

.button:active {
  border: none;
}
