.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

.list {
  list-style: none;
  display: flex;
  gap: 16px;
}

.title {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elem {
  color: aliceblue;
}
