.post {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 16px;
  text-align: left;

  max-width: 400px;
  width: 400px;
  overflow-wrap: break-word; /* Современный вариант */

  /* Если есть очень длинные слова (например, без пробелов) */
  white-space: normal;
}
